PORT=3000

# whatsapp | telegram | facebook | signal
CALLMEBOT_SERVICE=whatsapp

# WhatsApp
CALLMEBOT_WHATSAPP_PHONE=49123456789
CALLMEBOT_WHATSAPP_APIKEY=xxxxx

# Telegram
CALLMEBOT_TELEGRAM_CHATID=123456789
CALLMEBOT_TELEGRAM_APIKEY=xxxxx

# Facebook Messenger
CALLMEBOT_FACEBOOK_USERID=123456789
CALLMEBOT_FACEBOOK_APIKEY=xxxxx

# Signal
CALLMEBOT_SIGNAL_PHONE=49123456789
CALLMEBOT_SIGNAL_APIKEY=xxxxx
